# DATAHUT QA ASSIGNMENT

**Submitted by :** Karunya K

## Table of contents

**1. Load Data**

**2.Inspect Data**

**3.Removing unwanted columns**

**4.Removing Duplicates**

**5. Dropping rows with null values in "Name" and "Join Date"**

**6. Clean Department Field**

**7. Handling Null Values in "Age" and "Salary"**

**8. Handling Null Values in "Department"**

**9. Handling "Name" Field Errors**

**10. Handling "Email" Field Errors**

**11. Correct the date format to "YYYY-MM-DD"**

**12. Handle Noise in "Salary Column"**

**13. Download the cleaned data**

### 1. Load Data

In [4]:
import pandas as pd

df1=pd.read_csv("messy_data.csv")
df1.head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

### 2. Inspect Data

In [5]:
df1.columns # display the columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Email', 'Join Date', 'Salary',
       'Department'],
      dtype='object')

In [6]:
df1.shape # display no. of columns and rows

(11000, 8)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11000 non-null  int64
 1   ID          11000 non-null  object
 2   Name        8667 non-null   object
 3   Age         9253 non-null   float64
 4   Email       9731 non-null   object
 5   Join Date   8808 non-null   object
 6   Salary      8761 non-null   float64
 7   Department  8745 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 687.6+ KB

In [8]:
df1.isnull().sum() #Checking null values in each column

Unnamed: 0       0
ID               0
Name          2333
Age           1747
Email         1269
Join Date     2192
Salary        2239
Department    2255
dtype: int64

In [9]:
df1.duplicated().sum() #Checking duplicate values

291

### 3. Dropping unwanted column

In [10]:
df1.drop(["Unnamed: 0"],axis=1,inplace=True)  # drop unwanted column

### 4. Removing Duplicates

In [11]:
df2=df1.drop_duplicates() # dropping duplicate rows

### 5. Dropping rows with null values in "Name" and "Join Date"

In [12]:
df3 = df2.dropna(subset=[ 'Join Date',"Name"]) #drop rows where Name,Join Date is null

### 6. Clean Department Field

In [23]:
df3['Department'] = df3['Department'].str.replace(r'\bSupport[a-zA-Z]\b', 'Support', regex=True)
df3['Department'] = df3['Department'].str.replace(r'\bMarketing[a-zA-Z]\b', 'Marketing', regex=True)
df3['Department'] = df3['Department'].str.replace(r'\bHR[a-zA-Z]\b', 'HR', regex=True)
df3['Department'] = df3['Department'].str.replace(r'\bEngineering[a-zA-Z]\b', 'Engineering', regex=True)
df3['Department'] = df3['Department'].str.replace(r'\bSales[a-zA-Z]\b', 'Sales', regex=True)
df3['Department'] = df3['Department'].str.replace(r'\bnan\b',"NaN", regex=True)


df3['Department'].unique()

C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3185466913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Department'] = df3['Department'].str.replace(r'\bSupport[a-zA-Z]\b', 'Support', regex=True)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3185466913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Department'] = df3['Department'].str.replace(r'\bMarketing[a-zA-Z]\b', 'Marketing', regex=True)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3185466913.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Department'] = df3['Department'].str.replace(r'\bHR[a-zA-Z]\b', 'HR', regex=True)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3185466913.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Department'] = df3['Department'].str.replace(r'\bEngineering[a-zA-Z]\b', 'Engineering', regex=True)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3185466913.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Department'] = df3['Department'].str.replace(r'\bSales[a-zA-Z]\b', 'Sales', regex=True)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3185466913.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Department'] = df3['Department'].str.replace(r'\bnan\b',"NaN", regex=True)

array([nan, 'Engineering', 'Support', 'HR', 'Sales', 'Marketing'],
      dtype=object)

### 7. Handling Null Values in "Age" and "Salary"

In [14]:
df3["Salary"]=df3["Salary"].fillna(df3["Salary"].mean())

C:\Users\karun\AppData\Local\Temp\ipykernel_20676\2361413380.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Salary"]=df3["Salary"].fillna(df3["Salary"].mean())

In [15]:
df3["Age"]=df3["Age"].fillna(df3["Age"].mean())
df3["Age"]=df3['Age'].round().astype(int)
#df3

C:\Users\karun\AppData\Local\Temp\ipykernel_20676\797346174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Age"]=df3["Age"].fillna(df3["Age"].mean())
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\797346174.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Age"]=df3['Age'].round().astype(int)

### 8. Handling Null Values in "Department"

In [26]:
df3["Department"]=df3["Department"].fillna(df3["Department"].mode().iloc[0])

C:\Users\karun\AppData\Local\Temp\ipykernel_20676\2858483771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Department"]=df3["Department"].fillna(df3["Department"].mode().iloc[0])

In [27]:
df3.isnull().sum() #Checking null values in each column

ID            0
Name          0
Age           0
Email         0
Join Date     0
Salary        0
Department    0
dtype: int64

### 9. Handling "Name" Field Errors

In [29]:
# Split the 'Full_Name' column into parts
df3[['First_Name', 'Middle_Name', 'Last_Name']] = df3['Name'].str.split(expand=True, n=2)

# Handle cases where Middle_Name might be NaN (for names with no middle name)
df3['Middle_Name'] = df3['Middle_Name'].fillna('')

#df3

C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3815793363.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3[['First_Name', 'Middle_Name', 'Last_Name']] = df3['Name'].str.split(expand=True, n=2)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3815793363.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3[['First_Name', 'Middle_Name', 'Last_Name']] = df3['Name'].str.split(expand=True, n=2)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3815793363.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3[['First_Name', 'Middle_Name', 'Last_Name']] = df3['Name'].str.split(expand=True, n=2)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3815793363.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Middle_Name'] = df3['Middle_Name'].fillna('')

In [30]:
filtered_df = df3[df3['Middle_Name'].apply(lambda x: len(x) > 10)] #Extract rows with middle name length is more than 10
filtered_df

,ID,Name,Age,Email,Join Date,Salary,Department,First_Name,Middle_Name,Last_Name
2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66,jscottgreen.biz,2023-11-21,65550.000000,Engineering,Jennifer,Hammondquickly,None
27,2f99edc1-c0e7-4963-8b33-09465a2ac68f,Christina Norriscompare,84,haleygary@yahoo.com,2021-07-17,92668.000000,Engineering,Christina,Norriscompare,None
44,507c693e-8fa6-4583-82f8-8eae20d66be7,Evan Martinezimportant,34,tanyaglass@yahoo.com,01/01/2017,150059.398950,Sales,Evan,Martinezimportant,None
71,ca130e73-2fc6-4c24-aaaa-3b08038f2666,Allison Mcknighttrip,90,hsmith@munoz-snyder.com,2022-12-24,105919.658059,HR,Allison,Mcknighttrip,None
92,4b928463-0c4e-4923-8970-a9de2df2a8d4,Haley Montoyapolicy,74,mark45@gmail.com,2023-04-16,89801.000000,Marketing,Haley,Montoyapolicy,None
...,...,...,...,...,...,...,...,...,...,...
10950,76c941d6-020e-4432-a22c-442f4d6aaf15,Vicki Franklinespecially,54,janet39@yahoo.com,2020-08-27,123546.000000,Marketing,Vicki,Franklinespecially,None
10965,26148a39-38be-48f2-94dc-bf07b7377604,Joshua Mckinneyaccount,44,donna81nguyen-ward.com,19/12/1975,131708.486582,Sales,Joshua,Mckinneyaccount,None
10977,f197eeea-6d40-44b9-ab25-abdde24dec54,Nicholas Chavezsituation,86,cjohnsonhotmail.com,16/11/1979,29196.703578,Marketing,Nicholas,Chavezsituation,None
10991,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72,jpatterson@wise.org,2021-08-05,50510.777098,Support,Jeffrey,Elliottnation,None
10993,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79,Michael Walker,25/12/1992,47809.000000,HR,Shelley,Hopkinslive,None

In [31]:
df3.drop(filtered_df.index, inplace=True) #drop rows with middlename length more than 10

C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3545874408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(filtered_df.index, inplace=True) #drop rows with middlename length more than 10

In [32]:
#Drop all columns first name middle name and last name
df3.drop(columns=['Middle_Name'], inplace=True)
df3.drop(columns=['First_Name'], inplace=True)
df3.drop(columns=['Last_Name'], inplace=True)

C:\Users\karun\AppData\Local\Temp\ipykernel_20676\2967353707.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(columns=['Middle_Name'], inplace=True)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\2967353707.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(columns=['First_Name'], inplace=True)
C:\Users\karun\AppData\Local\Temp\ipykernel_20676\2967353707.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(columns=['Last_Name'], inplace=True)

### 10. Handling "Email" Field Errors

In [33]:
email_pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.com'

# Keep rows where the Email column matches the email pattern (valid emails)
df_cleaned = df3[df3['Email'].str.match(email_pattern)]

# Display the DataFrame after removing invalid emails
df_cleaned

,ID,Name,Age,Email,Join Date,Salary,Department
5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81,milleryvonne@fowler-york.com,15/10/2016,123018.000000,Support
9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
12,da63d159-e9b0-4b92-b0fe-4e87df3aebc1,Amber Marsh,23,robert43@gmail.com,2023-09-08,112970.000000,Engineering
13,5ca27087-5c90-4d42-94d0-7e9ee3f422b9,Patrick Mooney,57,bowersjasmine@hotmail.com,2023-06-24,41511.139646,Sales
14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60,griffinlinda@harrison.com,16/10/2003,51625.814403,Marketing
...,...,...,...,...,...,...,...
10984,e198cca1-70c0-465d-8459-82f5b0e71163,Alexandra Hansen,38,weavermary@yahoo.com,2022-02-13,67036.000000,Marketing
10985,f82d65c8-f4bb-485f-8dc5-2e454fda6fad,Curtis Moses,46,michaelthompson@powell-coleman.com,2022-11-21,36596.000000,Marketing
10989,4d450808-7caf-432e-bf65-385e715b43fe,Richard Leonard,58,luis19@gmail.com,01/05/1982,103005.000000,HR
10990,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10997,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,54,robert96@pollard-frye.com,15/08/2006,122609.594149,HR

### 11. Correct the date format to "YYYY-MM-DD"

In [34]:
# Function to convert dates in various formats to 'yyyy-mm-dd'
def convert_date(date_str):
    # Define possible date formats
    formats = [
        "%d-%m-%Y",  # dd-mm-yyyy
        "%d/%m/%Y",  # dd/mm/yyyy
        "%Y/%d/%m",  # yyyy/dd/mm
        "%d-%m-%y",   # dd-mm-yy
        "%d/%m/%y",   # dd/mm/yy
        "%Y-%m-%d",    #yyyy-mm-dd
        "%m/%d/%y"
    ]
    
    # Attempt to convert using the defined formats
    for fmt in formats:
        try:
            # Try to convert to datetime
            dt = pd.to_datetime(date_str, format=fmt, dayfirst=True)
            return dt.strftime('%Y-%m-%d')  # Return formatted date
        except (ValueError, TypeError):
            continue  # If conversion fails, try the next format
    
    # If all formats fail, return None or keep original string as needed
    return None

# Apply the conversion function to the Date column
df3['Join Date'] = df3['Join Date'].apply(convert_date)

C:\Users\karun\AppData\Local\Temp\ipykernel_20676\3662735970.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Join Date'] = df3['Join Date'].apply(convert_date)

### 12. Handle Noise in "Salary Column"

In [35]:
df3['Salary'].mean()

90001.56236872036

In [36]:
df3['Salary'].median()

90031.47018829067

##### Since mean and median are almost the same, There are no outliers in salary column

### 13. Download the cleaned data

In [37]:
df3.to_csv('DataHut.csv', index=False)